.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*SHOWCASE*/
.boxWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.showcaseText {
  max-width: 400px;
}

/* TABS */
.tabButton, .chosenTabButton{
  background-color: #bfbfbf;
  float: left;
  border: 1px;
  border-radius: 15px 5px 15px 5px;
  cursor: pointer;
  padding: 14px 16px;
  margin: 5px 2px 5px 2px;
  transition: 0.3s;
  font-size: 17px;
}

.tabButton:hover{
  background-color: #a3a3a3;
}

.chosenTabButton {
  background-color: #d2d2d2;
}

/*MediaPicker*/
.wrapper2 {
  position: absolute;
  left: 0;
  font-size: 19.5px;
  text-align: center;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
  height: 100vmax;
}

h3 {
  margin-top:0;
  margin-bottom: 10px;
}


/*
RESPONSIVENESS
This section will handle responiveness across different types of devices
*/

/* Laptops, Desktops. Large devices. */
@media only screen and (min-width: 1200px) {
  .showcaseBox{
    transform: scale(1.4);
    transition: 0.7s;
  }
  .boxWrapper{
    flex-direction: row;
  }
}

/* Mediumsized devices. Tablets, etc. */
@media only screen and (max-width:  950px) {
  .showcaseBox {
        transform: scale(0.7);
        transition: 1.2s;
  }
  .boxWrapper{
    flex-direction: row;
  }
}

/* Phones and smaller devices */
@media only screen and (max-width: 845px) {
  .showcaseBox{
    max-height: 50vh;
    min-width: 50vw;
  }

  .showcaseBox{
    transform: scale();
  }

  .boxWrapper{
    flex-direction: column;
    margin-left: 70px;
  }

  .tabButton, .chosenTabButton{
    font-size: 10px;
    padding: 15px 2px;
  }

  #root > div > div:nth-child(1){
    display: flex;
    position: absolute;
    flex-direction:column;
    width:50px;
    z-index: 3;
    height: 150vmax;
  }

  .wrapper2 {
    display: flex;
    position: relative;
    margin-top: 0px;
    font-size: 10px;
    width: 100%;
    justify-content: center;
    margin-left: 50px;
    overflow-x: hidden;
    height: 135px;
  }

body {
  overflow: scroll;
}
}
