html {
  height:100vmax;
  width:100%;
}
body {
  margin: 0;
  height: inherit;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/background.jpg') ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#root {
  height:inherit;
  width: auto;
}
